.fade-enter > * {
  opacity: 0;
}

.fade-enter-active > * {
  opacity: 1;
}

.fade-exit > * {
  opacity: 1;
}

.fade-exit-active > * {
  opacity: 0;
}

.fade-enter-active > *,
.fade-exit-active > *{
   transition: opacity 500ms, background-color 1s;
}

.h1 {
  margin: 0;
}

.link {
  text-decoration: 0;
	cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.row {
  display: block;
}

.svg-objects {
  display: none;
}

.beget-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  font-size: 1em;
  color: #1F1F20;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  } to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}


@media screen and (max-width: 1600px) {
	.container {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 900px;
	}

	.vex {
		font-size: 14px;
	}
}